#private-panel-top {margin-top:-2px;}
#private-panel-top select {font-size:14px;border:1px solid #e3e3e3;background:#fafafa;cursor:pointer;padding:6px 8px;height:34px; border-radius:2px;}
#private-panel-top .select {display:inline-block; font:14px/17px 'Arial', Helvetica, sans-serif;}
#private-panel-top .select2-container, #private-panel-top select {font:14px/17px 'Arial',Helvetica,sans-serif; min-width:400px; width:400px;}
#products-table .art {width:8%}
#products-table .price {width:8%; padding-left:15px;}
#products-table .p-count {left:-5px}
#products-table input.count {padding:5px 0 3px; font-size:13.5px;}
#products-table .loader {margin:42px auto 43px;}
#products-table .stock span {font-weight:normal;}
#products-table td {transition:none;}
#products-table table.related {width:calc(100% + 18px); margin:-7px -9px -8px -9px;}
#products-table table.related td {background:#ecf4fb;border-bottom:1px solid #fff; padding:7px 20px 7px 10px;}
#private-basket .button {position:absolute; bottom:10px; right:10px; font:bold 15px/20px Roboto; border-radius:6px; padding:6px 10px 8px; transition:background 0.15s ease;}
#private-basket .button:hover {background:#ffcd33;}

/* BOOTSTRAP */

#datatable-buttons {margin-bottom:29px;}
#datatable-buttons_wrapper .dt-buttons {position:absolute; top:51px; right:0;}
#datatable-buttons_filter {position:absolute; top:50px; left:420px; font-size:14px; line-height:30px; font-family:'Arial', Helvetica, sans-serif;}
#datatable-buttons_filter .form-control {box-sizing: content-box; width: 194px; height: 22px; line-height: 22px; border: 1px solid #ccc;  padding: 3px 7px 3px 7px; font: normal 14px Arial; color: #333; margin-left:10px; border-radius: 3px; background:#fff;}
#datatable-buttons_filter .form-control:hover {border:1px solid #00aff2;}
#datatable-buttons_filter .form-control:focus {outline: none; border:1px solid #00aff2;}
div#datatable-buttons_info, div#datatable-buttons_length {float: left; font-size: 14px; font-family:'Arial', Helvetica, sans-serif; padding-top: 9px; white-space: nowrap;}
div#datatable-buttons_length .form-control {display:inline-block; width:auto; font-size: 14px; padding:5px 7px; background:#fff; border-radius:4px; border:1px solid #ccc; margin:0 5px;}
div#datatable-buttons_length {margin-left:30px; padding-top: 4px;}
div.dataTables_paginate {margin: 0; white-space: nowrap; text-align: right;}
div.dataTables_paginate ul.pagination {margin-top:1px;}
table.dataTable thead .sorting_asc {background: url("/admin/img/datatable/sort_asc.png") center right no-repeat;}
table.dataTable thead .sorting_desc {background: url("/admin/img/datatable/sort_desc.png") center right no-repeat;}
table.dataTable thead .sorting {background: url("/admin/img/datatable/sort_both.png") center right no-repeat;}
#products-table .dataTables_empty {text-align:center;padding:42px 0 41px;font:300 15.5px Roboto; vertical-align:middle;}
#body-private .select2-results li {font-size:13px; line-height:15px;}
#body-private .select2-results li.option-strong,
#body-private .select2-results li.option-blue,
#body-private .select2-results li.option-cherry {font-size:14px; line-height:19px;}

/* / BOOTSTRAP */